.procedure-sortable{
	min-height: 30px;
	padding-bottom: 50px;
}

.procedure-sortable-placeHolder{
    background-color: rgba(217, 237, 247, 0.8);
    min-height: 30px;
}

.procedure-sortable li{
/* 	padding-bottom: 20px; */
}

.filter-sortable{
	min-height: 30px;
/* 	padding-bottom: 50px; */
}

.filter-sortable li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.filter-sortable-placeHolder{
	background-color: rgba(217, 237, 247, 0.8);
	min-height: 30px;
}

.procedure-sortable li:hover{
/* 	border-color:lightgrey; */
/* 	border-style: dashed; */
/* 	border-width:2px; */
/* 	box-shadow: 5px 0px 1px lightgray inset; */
}

.procedure-sortable .procedure-hover:hover{
/* 	box-shadow: 5px 0px 1px lightgray inset; */
}

.procedure-hover + .procedure-sortable:hover {
	box-shadow: 0 0 10px 1px lightgray inset;
}

