.procedure-sortable{
	min-height: 30px;
	padding-bottom: 50px;
}

.procedure-sortable-placeHolder{
    background-color: rgba(217, 237, 247, 0.8);
    min-height: 30px;
}

.filter-sortable{
	list-style: outside none none;
	min-height: 30px;
}

.filter-sortable li{
    padding-top: 10px;
}

.filter-sortable-placeHolder{
	background-color: rgba(217, 237, 247, 0.8);
	min-height: 30px;
}

li.fieldSelected{
    background-color: rgba(217, 237, 247, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
}

li .filter-title{
    display: block;
}

li .filter-title:hover{
	box-shadow: 15px 0px 0px rgba(217, 237, 247, 0.8) inset;
}

li .filter-selected{
	background-color: rgba(217, 237, 247, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
}

.filterSelect-results{
	overflow: auto;
	height: 400px;
}

.tab-content{
	padding-top: 10px;
}

.groupSelect-select2{
	width: 100%;
}

.stepSelect-select2{
	width: 100%;
}

.fieldSelect-select2{
	width: 100%;
}

.vocabularySelect-select2{
	width: 100%;
}